body {
    background-color: #8b4513;
}

.navbar {
    background-color: #222 !important;
    border-bottom: 2px solid white;
}

.navbar a {
    color: white !important;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #222 !important;
    color: white;
    border-top: 2px solid white;
}

.footer a {
    color: #000 !important;
}

.card {
    float: left;
}

.clear {
    height: 50px;
}